<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0">
	<channel>
		<title><%= title %></title>
		<link>http://clover.blue/</link>
		<description>デザインや日常のことについて書いています。</description>
		<language>ja</language>
		<copyright>Copyright © <%= title %> All Rights Reserved.</copyright>
		<lastBuildDate><%= new Date(parseInt(tumblr[0].updated + '000')) %></lastBuildDate>

		<% for(var i = 0;i < tumblr.length;i++) { %>
		<% if(tumblr[i].type !== 'photo') { %>
		<item>
			<title><%= tumblr[i].title %></title>
			<% for(var j = 0;j < tumblr[i].tags.length;j++) { %>
			<category><%= tumblr[i].tags[j] %></category>
			<% } %>
			<description><%= tumblr[i].body %></description>
			<link>http://clover.blue/post/<%= tumblr[i].uuid %></link>
			<guid>http://clover.blue/post/<%= tumblr[i].uuid %></guid>
			<pubDate><%= new Date(parseInt(tumblr[i].updated + '000')) %></pubDate>
		</item>
		<% } %>
		<% } %>
	</channel>
</rss>