<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0">
	<channel>
		<title><%= title %></title>
		<link>http://clover.blue/</link>
		<description>撮った写真を載せています。</description>
		<language>ja</language>
		<copyright>Copyright © <%= title %> All Rights Reserved.</copyright>
		<lastBuildDate><%= new Date(parseInt(flickr[0].updated + '000')) %></lastBuildDate>

		<% for(var i = 0;i < flickr.length;i++) { %>
		<item>
			<title><%= flickr[i].title %></title>
			<description><![CDATA[
				<img src="http://farm<%= flickr[i].farm %>.staticflickr.com/<%= flickr[i].server %>/<%= flickr[i].uuid %>_<%= flickr[i].secret %>_b.jpg">
				]]></description>
			<link>http://clover.blue/photo</link>
			<guid>http://clover.blue/photo</guid>
			<pubDate><%= new Date(parseInt(flickr[i].updated + '000')) %></pubDate>
		</item>
		<% } %>
	</channel>
</rss>